<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8">
        <title>Мій ШІ-бот</title>
        <link rel = "stylesheet" href="/static/style.css">
    </head>

    <body>
        <h1>Чат з ботом</h1>
        <div id="chat">
            <input type="text" id="question" placeholder="Введи питання...">
            <button onclick="sendQuestion()">Відправити</button>
            <p><strong>Відповідь:</strong><span id="answer"></span></p>
        </div>
        <script src="/static/script.js"></script>
    </body> 
</html>